<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reseñas de Películas</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div align="center" class="container">
    <p><h1>Top de Películas</h1>
    <div align="center">
      <div align="center" class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Los Asesinos de la luna
            <span class="badge badge-primary badge-pill">8.4</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Spider-Man: A través del Spider-Verso
            <span class="badge badge-primary badge-pill">7.9</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Oppenheimer
            <span class="badge badge-primary badge-pill">7.6</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Vidas pasadas
            <span class="badge badge-primary badge-pill">7.5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Monster
            <span class="badge badge-primary badge-pill">7.5</span>
          </li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
            Anatomía de una caída
            <span class="badge badge-primary badge-pill">7.5</span>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
            Hojas de otoño
            <span class="badge badge-primary badge-pill">7.5</span>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
            Todos somos extraños
            <span class="badge badge-primary badge-pill">7.5</span>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
            La sociedad de la nieve
            <span class="badge badge-primary badge-pill">7.5</span>
          </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
            Perfect Days
            <span class="badge badge-primary badge-pill">7.4</span>
          </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center">
            Te estoy amando locamente
            <span class="badge badge-primary badge-pill">7.4</span>
          </li>
        </ul>
      </div>
    </div>
	</div>
  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>